@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

/* estilização da header e da nav */

header{
    background-color: #252525;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

header  img{
    width: 2vw;
}

header h1{
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img{
    width: 3vw;
    margin-right: 0.8rem;
}

.navBar{
    width: 17%;
    display: flex;
    justify-content: space-evenly;
}

.navBar > img{
    width: 2rem;
}

/* estilização da sessão banner */

.sessao-banner{
    background-image: url(./assets/imgFundoRosa2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 125vh;
    width: 100%;

    display: flex;
}

.sessao-boas_vindas{
    font-size: 51px;
    color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sessao-boas_vindas > img{
    width: 14vw;
    height: 25vh;

}

/* estilização da sessão fale conosco */
.sessao-fale_conosco{
    background-image: url(./assets/imgFundoBranco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 160vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.sessao-banho{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 43vw;
    margin: 0 3rem;

}

.sessao-banho > h3{
    color: #3A342F;
    font-size: 49px;
}

.sessao-banho > p{
    color: #3A342F;
    font-size: 27px;

    margin: 1rem 0;
}

.sessao-banho > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    background-color: #3A342F;
    width: 12vw;
    padding: 1rem;
    text-align: center;
}

/* estilização da sessão informações */
.sessao-informacoes{
    color: white;
    background-image: url(./assets/imgFundoRosa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 160vh;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.sessao-espaco{
    display: flex;
    flex-direction: column;

    width: 43vw;
}

.sessao-espaco > h3{
    font-size: 49px;
}

.sessao-espaco > p{
    font-size: 27px;

    margin: 1rem 0;
}

.sessao-espaco > a{
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;

    border-radius: 5rem;

    width: 12vw;
    padding: 1rem;
    text-align: center;
}

/* estilização da sessao apoio */
.sessao-apoio{
    font-size: 20px;
    color: #FD6A9A;
    height: 22vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sessao-apoio > img{
    width: 10vw;
}

/* estilização do rodapé */
footer{
    background-color: #EB4A7B;
    color: white;
    display: flex;
    align-items: flex-start;
}

table{
    margin: 5rem 0 5rem 7rem;
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
   /* width: 50vw; */
}

thead {
    font-size: 2rem;
    /* background-color: blue; */
}

tbody{
    font-size: 1rem;
    /* background-color: red; */
}

th, td{
    padding: 0 5rem 3rem 0 ;
}

td{
    padding-bottom: 0.5rem;
}


/* responsividade para um mobile (celular) */

@media(min-width:201px) and (max-width: 500px){
    header{
        width: 100%;
    }

    .logo{
        display: flex;
        width: 60%;
    }

    .logo > img{
        width: 10vw;
    }

    .navBar{
        width: 40%;
    }

   .navBar > .icone-instagram, .icone-youtube{
    display: none;
   }

   .navBar  .icone-whatsapp{
    width: 2rem;
    margin-left: 8rem;
   }
}