*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilização da header e da nav */

header{
    background-color: #252525;

    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

header  img{
    width: 2vw;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img{
    width: 3vw;
}

.navBar{
    width: 17%;
    display: flex;
    justify-content: space-evenly;
}

.navBar > img{
    width: 2rem;
}

/* estilização da sessão banner */

.sessao-banner{
    background-image: url(./assets/imgFundoRosa2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;

    display: flex;
}

.sessao-boas_vindas{
    font-size: 51px;
    color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sessao-boas_vindas > img{
    width: 14vw;
    height: 25vh;

}

/* estilização da sessão fale conosco */